# Polymarket Insider Sentinel Configuration

# RPC
POLYGON_WSS_URL=wss://polygon-mainnet.g.alchemy.com/v2/GTiViq2WKXXJ0suq7Jwee
USDC_THRESHOLD=1000

# Moralis API (get from moralis.io)
MORALIS_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6IjkyZTc0YzExLTAzYmMtNDJlYS05YmQ5LThlZWEzYTI4Y2UzNSIsIm9yZ0lkIjoiNDg5NTQ1IiwidXNlcklkIjoiNTAzNjc5IiwidHlwZUlkIjoiNzg5YjAyYWUtZGRmZC00MmM2LTk4MzktMThiYzAyY2RlODhlIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3NjgwNDg4NjcsImV4cCI6NDkyMzgwODg2N30.Ai7cYUEemo-RrOFmFSIfxTTmZBirBJHCNuEmq8Wnqbo

# Telegram Bot (get from @BotFather, chat ID from @userinfobot)
TELEGRAM_BOT_TOKEN=8285783583:AAEjnO93PjgnoemqsOUGk77K0tJ0CgiV-fU
TELEGRAM_CHAT_ID=5745597351
